DATABASE_URL=postgresql://...
JWT_SECRET=
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PEXELS_API_KEY=
EXCHANGE_RATE_API_KEY=
